@use "constant";

.header {
	position: fixed;
	top: 0;
	height: constant.$desktop-nav-bar-height;
	width: 100%;
	background-color: #303030;
	z-index: 10000;
}

@media #{constant.$media-1-1023} {
	.header {
		height: constant.$mobile-nav-bar-height-large-1023;
	}
}