@use "constant";

.available-offers {
	margin: 20px 0;
	border-bottom:  solid 1px #c0c0c0;
	padding: 20px 0;

	p {
		border-bottom:  solid 1px #c0c0c0;
		font-size: constant.$desktop-font-size-medium;
	}

	ul {
		list-style-type: none;
		padding-left: 10px;

		li {
			line-height: 1.5;
			font-size: constant.$desktop-font-size-small;
		}
	}

	a {
		font-size: constant.$desktop-font-size-small;
	}
}

@media #{constant.$media-1-1023} {
	.available-offers {
		p {
			font-size: constant.$mobile-font-size-medium-1023;
		}
	
		ul {
			li {
				font-size: constant.$mobile-font-size-small-1023;
			}
		}
	
		a {
			font-size: constant.$mobile-font-size-small-1023;
		}
	}
}