@use "constant";

.buy-options{	
	height: constant.$desktop-action-button-height;
	display: flex;
	z-index: 10000;
	.button {
		border-radius: 0;
		margin: 0;
		flex: 1;
		font-weight: 900;
	}
}

@media #{constant.$media-1-1023} {
	.buy-options{	
		width: 100%;
		height: constant.$mobile-action-button-height-large-1023;

		.button {
			height: constant.$mobile-action-button-height-large-1023;
			font-size: constant.$mobile-font-size-medium-1023;
		}
	}
}