@use "colours";
@use "constant";

.home-page {
	top: constant.$desktop-nav-bar-height;
	position: relative;

	.home-page-container {
		display: flex;
		flex-direction: row;

		.product-images {
			align-self: flex-start;
			position: sticky;
			top: constant.$desktop-nav-bar-height;
			bottom: 0;

			display: flex;
			flex-direction: column;
		}

		.product-description {
			flex: 1;
		}
	}
}

@media #{constant.$media-1-1023} {
	.home-page {
		.home-page-container {
			flex-direction: column;
			.product-images {
				position: relative;
				top: unset;

				.buy-options {
					position: fixed;
					bottom: 0;
				}
			}
			.product-description {
				margin-bottom: constant.$mobile-action-button-height-large-1023;
			}
		}
	}
}