@use "constant";

.product-image {
	height: 450px;
	width: 450px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

@media #{constant.$media-1-1023} {
	.product-image {
		width: 100%;
		height: 50vh;

		img {
			width: 100%;
			height: 100%;
		}
	}
}