$media-1-1023: "only screen and (max-width: 1023px) and (min-width: 1px)";

$desktop-action-button-height: 45px;
$mobile-action-button-height-large-1023: 120px;

$desktop-nav-bar-height: 45px;
$mobile-nav-bar-height-large-1023: 120px;

$mobile-action-button-height-1023: 45px;
$mobile-nav-bar-height-1023: 45px;

$desktop-font-size-large: 30px;
$desktop-font-size-medium: 20px;
$desktop-font-size-small: 14px;

$mobile-font-size-large-1023: 55px;
$mobile-font-size-medium-1023: 40px;
$mobile-font-size-small-1023: 34px;

$mobile-input-height-size-large-1023: 130px;
$mobile-input-font-size-large-1023: 110px;
$mobile-input-font-size-large-padding-1023: 30px;
