@use "constant";

.product-description {
	padding: 20px;
	.p-d-product-name {
		margin: 20px 0;
		font-size: constant.$desktop-font-size-large;
		span:nth-child(1) {
			font-weight: 900;
		}
	}

	.p-d-product-price-rating {
		margin: 20px 0;
		display: flex;
		align-items: center;

		div:nth-child(1) {
			display: flex;
			align-items: center;
			span{
				margin: 10px;
			}

			span:nth-child(1) {
				font-size: constant.$desktop-font-size-large;
			}
			span:nth-child(2) {
				font-size: constant.$desktop-font-size-small;
				text-decoration: line-through;
			}
			span:nth-child(3) {
				font-size: constant.$desktop-font-size-medium;
				color: green;
			}
		}

		div:nth-child(2) {
			span {
				margin: 0 10px;
				font-size: constant.$desktop-font-size-small;
			}
		}
	}

	.p-d-product-highlights {
		display: flex;
		.p-d-product-highlights-ch {
			margin-right: 15px;
			>p {
				font-size: constant.$desktop-font-size-medium;
				margin: 15px 0;
			}
			div {
				font-size: constant.$desktop-font-size-small;
				p {
					margin: 5px 0;
				}
			}
		}
	}
}

@media #{constant.$media-1-1023} {
	.product-description {
		.p-d-product-name {
			font-size: constant.$mobile-font-size-large-1023;
		}
		.p-d-product-price-rating {
			flex-direction: column-reverse;
			align-items: flex-start;

			div:nth-child(1) {
				span:nth-child(1) {
					font-size: constant.$mobile-font-size-large-1023;
				}
				span:nth-child(2) {
					font-size: constant.$mobile-font-size-small-1023;
				}
				span:nth-child(3) {
					font-size: constant.$mobile-font-size-medium-1023;
				}
			}
	
			div:nth-child(2) {
				display: flex;
				align-items: center;
				span {
					font-size: constant.$mobile-font-size-small-1023;
				}
			}
		}

		.p-d-product-warranty{
			font-size: constant.$mobile-font-size-small-1023;
		}

		.p-d-product-highlights {
			flex-direction: column;
			.p-d-product-highlights-ch {
				margin: 15px 0;
				>p {
					font-size: constant.$mobile-font-size-medium-1023;
				}
				div {
					font-size: constant.$mobile-font-size-small-1023;
				}
			}
		}
	}
}