@use "constant";

.delivery {
	display: flex;
	align-items: center;
	margin: 20px 0;

	p {
		font-weight: 900;
	}
	input {
		margin: 10px;
	}
}

@media #{constant.$media-1-1023} {
	.delivery {
		p {
			font-weight: 900;
			font-size: constant.$mobile-font-size-large-1023;
		}
		input {
			margin: 0 40px;
			width: 450px;
			height: constant.$mobile-input-height-size-large-1023;
			margin: 10px;
			font-size: constant.$mobile-input-font-size-large-1023;
			padding: 0 constant.$mobile-input-font-size-large-padding-1023;
		}
	}
}