@use "colours";
@use "constant";

button {
	height: constant.$desktop-action-button-height;
	border: none;
  min-width: 100px;
  color: #fff;
  border-radius: 5px;
  margin: 5px 10px;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.button-buy {
	background-color: colours.$button-color-normal;
}

.button-add-to-cart {
	background-color: colours.$button-color-white;
	color: black;
}