* {
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;

  background-color: #191919;
  color: #fff;
}

p {
  margin: 0;
}

/* .button {
  background-color: #666;
  border: none;
  min-width: 100px;
  height: 30px;
  color: #fff;
  border-radius: 5px;
  margin: 5px 10px;
  cursor: pointer;
} */

/* .button:disabled {
  cursor: not-allowed;
} */
